<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>

<div class="container">
    <header>
        <div class="home-link">
            <h3><a th:href="@{/}">Ydemy</a></h3>
        </div>
        <div class="other-links">
            <h3><a th:href="@{/teach}">Teach</a></h3>
            <h3><a href="#">My courses</a></h3>
            <h3><a th:href="@{/settings}">Settings</a></h3>
            <div sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
                <h3><a th:href="@{/leaders/}" style="color: blue">Managers page</a></h3>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <h3><a th:href="@{/systems/}" style="color: red">ADMIN</a></h3>
            </div>
        </div>
    </header>
    <hr>
    <main>
        <div class="main">
            <h1>ADMIN PAGE</h1>

            <h2>Change user's role</h2>
            <form th:action="@{/systems/update-user-role}" method="POST">
                <input type="text" name="username" placeholder="Search...">

                <select name="authority" required>
                    <option value="ROLE_USER">USER</option>
                    <option value="ROLE_MANAGER">MANAGER</option>
                </select>
                <button type="submit">Submit</button>
            </form>

            <h3><p th:text="${message}"/></h3>
        </div>
    </main>
    <footer>
        <h3>Pet project 4</h3>
    </footer>
</div>

</body>
</html>