<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
    <h1><p th:text="${helloSpring}"/></h1>
    <hr>
    <p>
        <h3>User: <span sec:authentication="principal.username" /></h3>
        <h3>Role(s): <span sec:authentication="principal.authorities" /></h3>
    </p>
    <hr>
    <p>
        <div sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
            <a th:href="@{/leaders/}">Managers page</a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/systems/}">ADMIN</a>
        </div>
    </p>

    <form action="#" th:action="@{/logout}" method="post" >
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>