<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<header>
    <div class="home-link">
        <h3><a th:href="@{/}">Ydemy</a></h3>
    </div>
    <div class="other-links">
        <h3><a href="#">Teach</a></h3>
        <h3><a href="#">My courses</a></h3>
        <h3><a th:href="@{/settings}">Settings</a></h3>
        <div sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
            <h3><a th:href="@{/leaders/}" style="color: blue">Managers page</a></h3>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <h3><a th:href="@{/systems/}" style="color: red">ADMIN</a></h3>
        </div>
    </div>
</header>
<hr>
    <div class="container">
        <main>
            <h1><p th:text="${helloSpring}"/></h1>
            <hr>
            <p>
                <h2>User: <span sec:authentication="principal.username" /></h2>
                <h2>Role(s): <span sec:authentication="principal.authorities" /></h2>
            </p>
            <hr>

            <form action="#" th:action="@{/logout}" method="post" >
                <input type="submit" value="Logout"/>
            </form>
        </main>
        <footer>
            <h3>Pet project 4</h3>
        </footer>
    </div>
</body>
</html>