<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teach</title>
    <link rel="stylesheet" href="/main.css">

    <style>

    </style>

</head>
<body>
<header>
    <div class="home-link">
        <h3><a th:href="@{/}">Ydemy</a></h3>
    </div>
    <div class="other-links">
        <h3><a th:href="@{/teach}">Teach</a></h3>
        <h3><a href="#">My courses</a></h3>
        <h3><a th:href="@{/settings}">Settings</a></h3>
        <div sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
            <h3><a th:href="@{/leaders/}" style="color: blue">Managers page</a></h3>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <h3><a th:href="@{/systems/}" style="color: red">ADMIN</a></h3>
        </div>
    </div>
</header>
<hr>
<div class="container">
    <main>
        <h1>Create your course</h1>
        <h3><a style="color: #ff6b00" th:text="${message}"/></h3>

        <form action="#" th:action="@{/teach/createCourse}"
              th:object="${courseCreation}"
              method="post">

            <div class="titleClass">
                <input type="text" th:field="*{title}" placeholder="Title (*)"/>
            </div>
            <div th:if="${#fields.hasErrors('price')}">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="'Price ' + ${err}" />
                </ul>
            </div>

            <br>

            Price($)
            <div class="priceClass">
                <input type="text" th:field="*{price}" placeholder="Price (*)" />
            </div>
            <div th:if="${#fields.hasErrors('price')}">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="'Price ' + ${err}" />
                </ul>
            </div>

            <br>

            <div class="descriptionClass">
                <textarea type="text" th:field="*{description}" placeholder="Description"></textarea>
            </div>

            <div class="createButton">
                <button type="submit">Create</button>
            </div>
        </form>

        <br><br>

        <h1>My courses</h1>
        <table>
            <thead>
            <tr>
                <th><h2>Title</h2></th>
                <th><h2>Price</h2></th>
                <th><h2>Description</h2></th>
                <th><h2>Action</h2></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">
                <td class="description-cell" th:text="${course.title}"></td>
                <td class="description-cell" th:text="${course.price}"></td>
                <td class="description-cell" th:text="${course.description}"></td>
                <td>
                    <a style="color: aqua" th:href="@{/teach/update(id=${course.id})}">
                        Update
                    </a>
<!--                    <a style="color: red" th:href="@{/delete(username=${employee.username})}"-->
<!--                       onclick="if (!confirm('Are you sure you want to delete?')) return false">-->
<!--                        Delete-->
<!--                    </a>-->
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <h3>Pet project 4</h3>
    </footer>
</div>
</body>
</html>